<div class="body d-md-flex align-items-center justify-content-between">
  <div class="box-1 mt-md-0 mt-5">
    <img src="../../../assets/images/photo-1548940740-204726a19be3.avif " class="" alt="">
  </div>
  <div class=" box-2 d-flex flex-column h-100">
    <p class="mb-1 h-1 m-3">Admin Dashboard</p>
    <div class="d-flex flex-column m-3 ">
      <div class="d-flex align-items-center">
        <div class="container m-1"> <button mat-flat-button color="primary" (click)="createRestaurant()">Create
            order</button></div>
        <div class="container m-1"> <button mat-flat-button color="primary" (click)="viewOrder()">View order
            list</button></div>
        <div class="container m-1"> <button mat-flat-button color="primary" (click)="logout()">Logout</button></div>
      </div>
    </div>
  </div>
</div>

